html, body {height: 100%;width:100%;}
html{
	color: #F0F1F2;
}

body { 
    position: relative;
}

.container{
	height:90%;
	width:100%;
}

.header{
	background-color: #313940;
	height:10%;
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
	display:box;
	box-pack:center;
	box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.container .leftShow{
	width:50%;
	height:90%;
	top:10%;
	left:0;
	box-shadow: 1px 0em 0.001em #0D0D0D;
	background-color: #313940;
	position: absolute;
}

.container .rightShow{
	width:50%;
	height:90%;
	top:10%;
	right:0;
	box-shadow: -1px 0em 0.001em #0D0D0D;
	background-color: #313940;
	position: absolute;
}

.startButton{
	margin:auto;
	text-align: center;
	top:50%;
	left:50%;
	margin-left: -35px;
	position: absolute;
}
.startButton .action{
	cursor: pointer;
	background-color: #5C6873;
}

.container .game{
	background-color: #5C6873;
	height:100%;
	width:100%;
}