
@font-face
{
font-family: ComputerModern;
src: url(cmunui.ttf);
}

html, body {height: 100%;width:100%;}
html{
	color: #F0F1F2;
	background-color: #313940;
	font-family: arial, sans-serif;
}

body { 
    position: relative;
}

.container{
	height:100%;
	width:100%;
}

.header{
	position: fixed;
	top: 0px;
	z-index: 1;
	background-color: #000000;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 30px;
	font-family: ComputerModern;
	font-weight: bold;
	color: #cccccc;
	display:box;
	box-pack:center;
	box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	width:100%;
	padding: 10px 0px;
}

.container .leftShow{
	background-image: url(../images/industrial-l.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	width:50%;
	height:100%;
	top:0;
	left:0;
	position: absolute;
}

.container .rightShow{
	background-image: url(../images/industrial-r.jpg);
	background-repeat:no-repeat;
	width:50%;
	height:100%;
	top:0;
	right:0;
	position: absolute;
}

.startButton{
	margin:auto;
	top:40%;
	left:50%;
	margin-left: -110px;
	position: absolute;
	cursor: pointer;
	width:200px;
	height:200px;
	border-radius:250px;
	font-size:23px;
	background-color: #FF9800;
	color:#fff;
	text-align:center;
	padding: 10px;
}
.startButton .action{
	font-family: ComputerModern;
	font-style: italic;
	border-radius: 250px;
	width: 194px;
	height: 150px;
	border: dashed 3px white;
	padding-top: 44px;
}
.emphasis {
	font-size: 45px;
	font-style: normal;
	line-height: 40px;
	font-weight: bold;
}

.container .game{
	height:100%;
	width:100%;
	text-align: center;
}

.container .game h1{
	padding: 3px 0px;
	margin-top: 80px;
	margin-bottom: 20px;
	font-family: ComputerModern;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	background-color: #FF9800;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.container .game h1 span{
	display: block;
	border-top: dashed 1px white;
	border-bottom: dashed 1px white;
}

.container .game .mainView{
	width:100%;
	height:100%;
	position:absolute;
	z-index: -1;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.container .game .upgrades{
	width:20%;
	height:100%;
	float:left;
	background-color: rgba(0,0,0,0.5);
	background-image: url("../images/wood-planks.jpg");
	background-position-x: right;
}


.container .game .upgrades h2{
	font-family: ComputerModern;
	font-style: italic;
	font-size: 16px;
}

.container .game .upgrades .items{
	padding: 3px 0px;
	text-align: left;
	background-color: #354a6b;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.container .game .upgrades .items>span{
	display: block;
	border-top: dashed 1px white;
	border-bottom: dashed 1px white;
	padding: 10px 20px;
}

.container .game .upgrades .items .item{
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.container .game .upgrades .items .item img{
	width: 50px;
	height: 50px;
	box-shadow: 0px 0px 3px rgba(255,255,255,0.4);
}

.container .game .stats{
	width:20%;
	height:100%;
	float:right;
	opacity: 0.9;
	background-color: #000000;
}

.container .game .stats h2{
	text-align: right;
	padding-right: 10px;
}

.container .game .stats .endturn{
	cursor: pointer;
	margin-top: 90%;
	width:100%;
	height:100px;
	line-height: 100px;
	background-color: #FF9800;
	color:white;
}

.container .game .stats .priceslider{
	margin: auto;
	margin-top: 20px;
	width:80%;
}

.hidden{
	display:none;
}

.disabled{
	opacity: 0.3;
	transition:1s;
}

.enabled{
	opacity: 1;
	transition:1s;
}